<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340088414336-rflns9nisd4d39b3k8dakto24d7q8cos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340088414336-rflns9nisd4d39b3k8dakto24d7q8cos</string>
	<key>API_KEY</key>
	<string>AIzaSyByrWbwITlovScnXgbyJpfHvOqDT52w6E4</string>
	<key>GCM_SENDER_ID</key>
	<string>340088414336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nadhir2k.pfeapp</string>
	<key>PROJECT_ID</key>
	<string>pfel3-68907</string>
	<key>STORAGE_BUCKET</key>
	<string>pfel3-68907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340088414336:ios:21f7b8ee7b8f0d8b040665</string>
</dict>
</plist>